.blur {
     filter: blur(2px);
}
.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(219, 219, 219);
}

.new-book-button {
    height: 3rem;
    width: 4rem;
    border-radius: .2rem;
} .new-book-button:hover {
    background-color: darkgray;
}

.library {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.book {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: large;
    border: 1px solid black;
    border-radius: .3rem;
    box-shadow: 4px 4px 4px 0px rgb(87, 87, 87);
    width: 30%;
    margin: .3rem;
    text-align: center;
    padding: 5px;
    padding-top: 6px;
    word-wrap: break-word;
    hyphens: auto;
}

.form-container {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 80%;
    position: absolute;
    top: 15%;
    left: 9%;
    /* height: 20rem; */
    /* width: 30rem; */
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 208, 208);
    padding: 1rem;
    width: 50%;
    box-shadow: 4px 4px 4px 0px rgb(95, 95, 95);
    display: none;
    border-radius: .2rem;
    
}
 
.required {
    color: rgb(186, 0, 0);
}

label {
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

li {
        display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
 p { font-size: inherit}
input {
    height: 1.3rem;
    width: 99%;
    margin: 0.1rem 0rem 0.8rem;
    border: none;
    border-radius: 8px;
} input:user-invalid {
    box-shadow:  1px 4px 12px 0px rgb(255, 0, 0);
} input:user-valid {
    box-shadow: 1px 4px 7px 5px #5dcf5d;
} input:focus {
    box-shadow: 1px 4px 12px 0px rgb(0, 140, 255);
    outline: none;
} input:optional {
    box-shadow: none;
}


.submit {
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #dcffdc;
    width: 11rem;
} .submit:hover {
    background-color: #5dcf5d;
}