.blur {
     filter: blur(2px);
}
.container {
    padding: 10px;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    /* width: 100vw; */
    background-color: rgb(219, 219, 219);
}

.buttons {
    width: 100%;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-start: 1fr 1fr; 
}

.new-book-button {
    grid-column-start: 2;
    grid-row-start: 2;
} 
.clear-all-button {
    grid-column-start: 3;
}
.new-book-button, .clear-all-button {
    height: 3rem;
    width: 4rem;
    border-radius: .2rem;
} .new-book-button:hover, .clear-all-button:hover {
    background-color: darkgray;
}

.library {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.book {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: large;
    /* border: 1px solid black; */
    border-radius: .3rem;
    box-shadow: 4px 4px 4px 0px rgb(87, 87, 87);
    height: 7rem;
    width: 12rem;
    margin: .6rem;
    text-align: center;
    padding: 5px;
    padding-top: 20px;
    word-wrap: break-word;
    hyphens: auto;
}

.form-container {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 80%;
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: -1;
    /* height: 20rem; */
    /* width: 30rem; */
}  .z-index {
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(208, 208, 208);
    padding: 1rem;
    height: 27rem;
    width: 60%;
    box-shadow: 4px 4px 4px 0px rgb(95, 95, 95);
    display: none;
    border-radius: .2rem;
    gap: .5rem;
    
}

.read-status {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}
 
.required {
    color: rgb(186, 0, 0);
}

label {
    font-size: 1.1em;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
}

li {
        display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
 p { 
    font-size: inherit;
    margin-bottom: .5rem;
}
input {
    height: 1.3rem;
    width: 100%;
    margin: 0.3rem 0rem 0.8rem;
    border: none;
    border-radius: 8px;
} input:user-invalid {
    box-shadow:  1px 4px 12px 0px rgb(255, 0, 0);
 } /*input:user-valid {
    box-shadow: 1px 4px 7px 5px #5dcf5d; 
} */ 
input:focus.form-input {
   box-shadow: 4px 4px 0px 0px rgb(0, 140, 255);
    outline: none;
 } 
 /*input:optional {
    box-shadow: none;
} */


.submit {
    /* margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #dcffdc;
    width: 11rem; */

     height: 3rem;
    width: 4rem;
    border-radius: .2rem;
} .submit:hover {
    /* background-color: #5dcf5d; */
    background-color: darkgray;
}